.headerWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: lightgrey;
  padding: 10px;
}

.homeLink {
  text-decoration: none;
  color: blue;
  transition: linear 0.3s;
  font-size: 20px;
}
.homeLink:hover {
  transform: scale(1.2);
}

.headerButtonWrapper {
  display: flex;
  flex-direction: row;
}
.switcherWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 10px;
}
