.headerWrapper {
  position: sticky;
  top: 0px;
  z-index: 100;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: lightgrey;
  transition: background-color 0.3s;
  padding: 10px;
}
.headerSticky {
  background-color: rgb(91, 91, 91);
}

.homeLink {
  text-decoration: none;
  color: blue;
  transition: linear 0.3s;
  font-size: 20px;
}

.headerButtonWrapper {
  display: flex;
  flex-direction: row;
}
.switcherWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 10px;
}
