.columnWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 10px;
  min-width: 90px;
  margin-bottom: 20px;
  margin-right: 10px;
  font-size: 1.5rem;
  justify-content: space-between;
  background-color: #1976d23f;
}
.columnHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
.columnNewTitle {
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}
.columnTitle {
  cursor: pointer;
  font-size: 1.5rem;
}
.columnBtn {
  cursor: pointer;
  font-size: 0.6rem;
}
@media screen and (max-width: 700px) {
  .columnTitle {
    font-size: 0.6rem;
  }
}

::-webkit-scrollbar {
  display: none;
}
.columnTop {
  height: 88%;
  overflow-y: scroll;
}
.listItems {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #1976d23f;
  border-radius: 100%;
  font-size: 10px;
  width: 13px;
  height: 13px;
  position: absolute;
  z-index: 95;
  top: 0px;
  background-color: azure;
  right: -5px;
}
